flows.json
[{"id":"4377aa3831cea85c","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"66957a4a4b548f99","type":"ui_tab","name":"SFO","icon":"dashboard","disabled":false,"hidden":false},{"id":"94448f14c12edcc7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b2d879a8c99dfc5e","type":"ui_group","name":"Map","tab":"66957a4a4b548f99","order":1,"disp":false,"width":"20","collapse":false,"className":""},{"id":"fb3df1eff63ee007","type":"ui_group","name":"Objects","tab":"66957a4a4b548f99","order":2,"disp":false,"width":"20","collapse":false,"className":""},{"id":"981cf494ee144e1c","type":"maps","z":"4377aa3831cea85c","name":"","path":"maps","maptitle":"Airport Demo","x":330,"y":80,"wires":[[]]},{"id":"a1ab6560c52438b1","type":"inject","z":"4377aa3831cea85c","name":"SFO Objects for Maps","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[{\"channel\":\"SOC\",\"dataset\":[{\"lon\":-122.39653157267902,\"lat\":37.633062919031524,\"name\":\"OID-1\",\"description\":\"Object 1\",\"value\":90,\"unit\":\"%\",\"iconColor\":\"Blue\"},{\"lon\":-122.38229660566729,\"lat\":37.614684775766165,\"name\":\"OID-2\",\"description\":\"Object 2\",\"value\":78,\"unit\":\"%\",\"iconColor\":\"Yellow\"},{\"lon\":-122.3901340505685,\"lat\":37.611653677758135,\"name\":\"OID-3\",\"description\":\"Object 3\",\"label\":\"Alert for low level\",\"value\":11.7,\"unit\":\"%\",\"iconColor\":\"Red\"},{\"lon\":-122.39121309138771,\"lat\":37.61791371077814,\"name\":\"OID-4\",\"description\":\"Object 4\",\"value\":68,\"unit\":\"%\",\"iconColor\":\"Yellow\"}]}]","payloadType":"json","x":140,"y":80,"wires":[["981cf494ee144e1c"]]},{"id":"f3b41749a2c4fdb6","type":"comment","z":"4377aa3831cea85c","name":"Navigate to /maps","info":"","x":130,"y":40,"wires":[]},{"id":"8d391c468f797750","type":"worldmap","z":"4377aa3831cea85c","name":"","lat":"37.61468477","lon":"-122.382296","zoom":"14","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":580,"y":220,"wires":[]},{"id":"374949e07a04f0c3","type":"inject","z":"4377aa3831cea85c","name":"SFO Objects for Worldmap","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[{\"name\":\"Object 1\",\"lon\":-122.39653157267902,\"lat\":37.633062919031524,\"icon\":\"arrow\",\"heading\":220,\"speed\":20,\"iconColor\":\"#FF0000\",\"label\":\"Outside fence\",\"SOC\":\"78\"},{\"name\":\"Object 2\",\"lon\":-122.38229660566729,\"lat\":37.614684775766165,\"icon\":\"arrow\",\"heading\":176,\"speed\":5,\"label\":\"67%\",\"SOC\":\"67\"},{\"name\":\"Object 3\",\"lon\":-122.3901340505685,\"lat\":37.611653677758135,\"icon\":\"arrow\",\"heading\":98,\"speed\":0,\"label\":\"97%\",\"SOC\":\"97\"},{\"name\":\"Object 4\",\"lon\":-122.39121309138771,\"lat\":37.61791371077814,\"icon\":\"arrow\",\"heading\":98,\"speed\":3,\"label\":\"57%\",\"SOC\":\"57\"},{\"name\":\"Object 5\",\"lon\":-122.38721529068488,\"lat\":37.6177680581825,\"icon\":\"arrow\",\"heading\":98,\"speed\":3,\"label\":\"57%\",\"SOC\":\"57\"},{\"name\":\"Object 6\",\"lon\":-122.38718775546758,\"lat\":37.61814961383638,\"icon\":\"arrow\",\"heading\":123,\"speed\":1,\"label\":\"89%\",\"SOC\":\"89\"},{\"name\":\"Object 7\",\"lon\":-122.37507112841179,\"lat\":37.613756376334926,\"icon\":\"arrow\",\"heading\":123,\"speed\":0,\"iconColor\":\"#FF0000\",\"label\":\"12%\",\"SOC\":\"12\"},{\"name\":\"Object 8\",\"lon\":-122.39323126769284,\"lat\":37.622996853430266,\"icon\":\"arrow\",\"heading\":123,\"speed\":0,\"label\":\"100%\",\"SOC\":\"100\"},{\"name\":\"Object 8\",\"lon\":-122.39462759450225,\"lat\":37.624220710439985,\"icon\":\"arrow\",\"heading\":42,\"speed\":6,\"label\":\"98%\",\"SOC\":\"98\"},{\"name\":\"Object 8\",\"lon\":-122.3874562925882,\"lat\":37.62514923095428,\"icon\":\"arrow\",\"heading\":42,\"speed\":0,\"label\":\"93%\",\"SOC\":\"93\"}]","payloadType":"json","x":160,"y":360,"wires":[["8d2267bb5a93cdf1","e1788f59aeede147"]]},{"id":"8d2267bb5a93cdf1","type":"function","z":"4377aa3831cea85c","name":"sequence","func":"let outputMsgs = [];\nmsg.payload.forEach(function(element) {\n    outputMsgs.push({payload: element});\n});\nreturn [outputMsgs];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":360,"wires":[["8d391c468f797750","70630678f85e1415"]]},{"id":"83aff2e355140415","type":"inject","z":"4377aa3831cea85c","name":"SFO Geofence","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"SFO geofence\",\"geojson\":{\"type\":\"Feature\",\"properties\":{},\"geometry\":{\"coordinates\":[[[-122.39575102069853,37.63160357518397],[-122.39901185658792,37.62922498438505],[-122.39738143864304,37.618962191407675],[-122.39103138980593,37.61678711293642],[-122.385282021264,37.61882625086754],[-122.38219280831596,37.616855085101705],[-122.38536783273469,37.61379627614539],[-122.38837123421166,37.61440804800276],[-122.3928334306922,37.61236878890524],[-122.38270767714044,37.60563883712831],[-122.37953265272208,37.60543488968965],[-122.37292516947218,37.61542765658069],[-122.37052244829036,37.61583549609681],[-122.35962439150205,37.61073734136396],[-122.35679261296643,37.61488386707897],[-122.36992176799518,37.620457520946616],[-122.36554538298535,37.62691428042771],[-122.36734742387162,37.62766186898075],[-122.36880621887515,37.625962793211954],[-122.3723244891766,37.627254094338866],[-122.37344003829666,37.62671039133565],[-122.37996171007589,37.629700708635156],[-122.38511039832227,37.62766186898075],[-122.39017327509795,37.62963274821449],[-122.39206112745492,37.63289477830837],[-122.39575102069853,37.63160357518397]]],\"type\":\"Polygon\"}}}","payloadType":"json","x":340,"y":220,"wires":[["8d391c468f797750","70630678f85e1415"]]},{"id":"855676eec72580d2","type":"comment","z":"4377aa3831cea85c","name":"Navigate to /worldmap","info":"","x":620,"y":180,"wires":[]},{"id":"70630678f85e1415","type":"ui_worldmap","z":"4377aa3831cea85c","group":"b2d879a8c99dfc5e","order":0,"width":"20","height":"8","name":"","lat":"37.61468477","lon":"-122.382296","zoom":"14","layer":"EsriS","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/embedmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":570,"y":360,"wires":[]},{"id":"e1788f59aeede147","type":"ui_table","z":"4377aa3831cea85c","group":"fb3df1eff63ee007","name":"","order":0,"width":"20","height":"6","columns":[{"field":"name","title":"Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"heading","title":"Heading","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"speed","title":"Speed","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"SOC","title":"State of Charge","width":"","align":"left","formatter":"progress","formatterParams":{"target":"_blank"}},{"field":"SOC","title":"State of Charge","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":370,"y":420,"wires":[]},{"id":"5a7fe09d1728b979","type":"comment","z":"4377aa3831cea85c","name":"Navigate to /ui","info":"","x":600,"y":320,"wires":[]}]